:root {
    --main-color: rgb(199, 255, 236);
    --field-color: #001e20;
    --heading-color: #001e20;
    --text-color: white;
    --secondary-color: rgb(221, 253, 242);
    --secondary-dark-color: #001e20;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 90vh;
}

.note {
    display: flex;
    flex-direction: column;
    min-width: 300px;
    width: min(90%, 40rem);
    height: 500px;
    margin-top: 10vh;
    border-radius: 10px;
    box-shadow: 0 0 30px -10px rgb(0, 0, 0);
    background-color: var(--secondary-color);
}

.note-r1 {
    height: 60px;
    display: flex;
    flex-direction: row;
    align-items: center;
    background-color: var(--field-color);
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.note-content,
.note-heading {
    background: none;
    border: none;
    outline: none;
    box-shadow: none;
    resize: none;
    padding: 10px 2vw;
}

.note-heading {
    width: 100%;
    color: white;
    font-size: 20px;
}

.note-content {
    height: 100%;
    font-size: 15px;
}

.save {
    width: 80px;
    height: 35px;
    margin-right: 2vw;
    border: none;
    cursor: pointer;
    background: none;
    color: white;
    border: 2px solid var(--secondary-color);
    font-size: 15px;
    border-radius: 50px;
}

.save:hover {
    color: var(--secondary-color);
    transform: scale(1.03);
}