:root {
    --main-color:aquamarine;
    --field-color: #001e20;
    --heading-color: #001e20;
    --text-color: white;
    --secondary-color: white;
    --secondary-dark-color: #001e20;
}

.note-cont{
    min-width: none;
    width: 40vw;
    height: 50vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: var(--secondary-dark-color);
    padding: 2vh 2vw;
    border-radius: 10px;
}

.note-cont-r1{
    display: flex;
    flex-direction: row;
    margin-bottom: 1.5vh;
}

.note-name{
    width: 33vw;
    height: 5vh;
    font-size: 25px;
    resize: none;
    outline:none;
    margin-right: 1vw;
    background-color: var(--secondary-color);
    border-top-left-radius: 10px;
}

.note{
    width: 40vw;
    height: 40vh;
    font-size: 15px;
    resize: none;
    outline:none;
    background-color: var(--secondary-color);

}

.add{
    width: 6vw;
    height: 6vh;
    border-top-right-radius: 10px;
}