:root {
    --main-color: rgb(199, 255, 236);
    --main-light-color: rgb(221, 253, 242);
    --dark-color: #001e20;
    --text-color: white;
}

main {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 40px;
    height: 90vh;
}