:root {
    --main-color:rgb(199, 255, 236);
    --field-color: rgb(221, 253, 242);
    --heading-color: hsl(184, 100%, 6%);
    --lightheading-color: hsl(184, 100%, 6%, .5);
    --text-color: white;
  }

body{
    background-color: var(--main-color);
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    height: 100vh;
}

.form{
    width: min(20rem, 90vw);
    display: flex;
    flex-direction: column;
    align-items: stretch;
    box-shadow: 0 0 30px -10px rgb(0, 0, 0);
    background-color: var(--field-color);
    border-radius: 10px;
    padding-bottom: 1vh;
    font-size: 20px;
}

.form *{
    font-size: 15px;
    padding: 1vh min(1vw, 2%);
    margin: 0 min(3rem, 10%) 2vh;
    border: none;
    border-radius: 5px;
}

.form h1{
    font-family: 'Dancing Script', cursive;
    align-items: center;
    color: var(--text-color);
    background-color: var(--heading-color);
    text-align: center;
    font-size: 45px;
    padding: 2vh 0;
    margin: -0.15vh -0.1vw 4vh -0.1vw;
    border-radius: 0;
    border-top-left-radius: 9px;
    border-top-right-radius: 9px;
}

input[type=text], input[type=password]{
    background-color: var(--field-color);
    color: var(--heading-color);
    border-bottom: 1px solid black;
    opacity: .9;
}

input[type=text]::placeholder, input[type=password]::placeholder{
    color: var(--heading-color);
}

input[type=text]:hover, input[type=password]:hover{
    opacity: 1;
}

input[type=text]:focus, input[type=password]:focus{
    opacity: 1;
    outline: none;
}

input[type=submit]{
    margin-top: 1vh;
    margin-bottom: 1vh;
    background-color: var(--heading-color);
    color: var(--text-color);
}

input[type=submit]:hover{
    opacity: .9;
    cursor: pointer;
}

.error{
    margin-top: -2vh;
    margin-bottom: .5vh;
    padding: 0 1vw;
    background-color:  var(--lightheading-color);
}

.message a{
    margin: -5px;
    text-decoration: none;
    color: var(--heading-color);
    opacity: .8;
}

.message a:hover{
    opacity: 1;
}
