:root {
    --main-color: #f4dec8;
    --main-light-color: #f8eee7;
    --dark-color: #49222f;
    --text-light-color: white;
    --text-dark-color: black;
    --main-font: 'Dancing Script', cursive;
}

.dark-mode {
    --main-color: rgb(46, 46, 46);
    --main-light-color: #474747;
    --dark-color: #020202;
    --text-light-color: white;
    --text-dark-color: white;
}

body {
    background-color: var(--main-color);
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    height: 90vh;
}

.form {
    /* position: relative; */
    width: min(20rem, 90vw);
    display: flex;
    flex-direction: column;
    align-items: stretch;
    box-shadow: 0 0 30px -10px rgb(0, 0, 0);
    background-color: var(--main-light-color);
    border-radius: 10px;
    padding-bottom: 1vh;
    font-size: 20px;
}

.form * {
    font-size: 15px;
    padding: 1vh min(1vw, 2%);
    margin: 0 min(3rem, 10%) 2vh;
    border: none;
    border-radius: 5px;
    color: var(--text-dark-color);
}

.form h1 {
    font-family: var(--main-font);
    align-items: center;
    color: var(--text-light-color);
    background-color: var(--dark-color);
    text-align: center;
    font-size: 45px;
    padding: 2vh 0;
    margin: -0.15vh -0.1vw 4vh -0.1vw;
    border-radius: 0;
    border-top-left-radius: 9px;
    border-top-right-radius: 9px;
}

input[type=text],
input[type=password] {
    background-color: var(--main-light-color);
    color: var(--text-dark-color);
    border-bottom: 1px solid black;
    opacity: .9;
}

.pass-field {
    position: relative;
    padding: 0;
    height: 40px;
}

.pass-field input[type=password],
.pass-field input[type=text] {
    margin-left: 0;
    width: 100%;
}

input[type=text]::placeholder,
input[type=password]::placeholder {
    color: var(--text-dark-color);
}

input[type=text]:hover,
input[type=password]:hover {
    opacity: 1;
}

input[type=text]:focus,
input[type=password]:focus {
    opacity: 1;
    outline: none;
}

input[type=submit] {
    margin-top: 1vh;
    margin-bottom: 1vh;
    background-color: var(--dark-color);
    color: var(--text-light-color);
}

input[type=submit]:hover {
    opacity: .9;
    cursor: pointer;
}

.error {
    margin-top: -2vh;
    margin-bottom: .5vh;
    padding: 0 1vw;
    color: white;
    background-color: var(--dark-color);
    opacity: .5;
}

.message a {
    margin: -5px;
    text-decoration: none;
    color: var(--dark-light-color);
    opacity: .8;
}

.message a:hover {
    opacity: 1;
}

.visible {
    position: absolute;
    top: 20%;
    right: -1rem;
    padding: 0;
    opacity: .5;
}

.bi-eye {
    display: none;
}