:root {
    --main-color:rgb(199, 255, 236);
    --field-color: #001e20;
    --heading-color: #001e20;
    --text-color: white;
    --secondary-color: rgb(221, 253, 242);
    --secondary-dark-color: #001e20;
}

main{
    margin: 40px 5vw;
}

.container{
    display: grid;
    justify-content: center;
    grid-template-columns: repeat(auto-fill, minmax(100px, 1fr)); 
    grid-auto-rows: 180px;
    column-gap: 2vw;
    row-gap: 20px;
}

@media (min-width: 400px) {
    .container{
        grid-template-columns: repeat(3, minmax(100px, 1fr)); 
    }
}

.note{
    display: flex;
    flex-direction: column;
    border-radius: 10px;
    font-size: 20px;
    box-shadow: 0 0 30px -10px rgb(0, 0, 0);
    background-color: var(--secondary-color);
    white-space: pre-wrap;
}

.note:hover{
    transform: scale(1.05);
    cursor: pointer;
}

.note-heading{
    text-align: center;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    padding: 10px;
    border-top-left-radius: 7px;
    border-top-right-radius: 7px;
    background-color: var(--field-color);
    color: white;
}

.note-content{
    flex: 1;
    word-wrap: break-word;
    overflow: hidden;
    column-width: 100vw;
    padding: 10px;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
}
