:root {
    --main-color: rgb(199, 255, 236);
    --dark-color: #001e20;
    --text-color: white;
    --main-font: 'Dancing Script', cursive;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: var(--main-color);
}

nav {
    background-color: var(--dark-color);
}

nav * {
    text-decoration: none;
    color: var(--text-color);
}

.container {
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    width: min(95%, 80rem);
    font-size: 1.1rem;
}

.navbar-links {
    margin-right: auto;
}

.navbar-links ul,
.login ul {
    margin: 0;
    padding: 0;
    display: flex;
}

.navbar-links li,
.login li {
    list-style-type: none;
}

.navbar-links a,
.login a {
    margin-top: 5px;
    padding: 1rem;
    display: block;
}

nav a:hover {
    color: var(--main-color);
    opacity: .9;
}

.title {
    display: block;
    font-size: 2rem;
    margin: .5rem;
    font-family: var(--main-font);
}

.toggle-button {
    display: none;
    flex-direction: column;
    justify-content: space-between;
    width: 30px;
    height: 22px;
    position: absolute;
    top: 1rem;
    right: 5%;
}

.toggle-button .bar {
    height: 3px;
    width: 100%;
    background-color: white;
    border-radius: 10px;
}

@media (max-width: 600px) {
    .toggle-button {
        display: flex;
    }
    .navbar-links,
    .login {
        display: none;
        justify-content: center;
        text-align: center;
    }
    .navbar-links,
    .navbar-links ul,
    .login ul {
        width: 100%;
    }
    .container,
    .navbar-links ul,
    .login ul {
        flex-direction: column;
    }
    .navbar-links a,
    .login a {
        padding: .5rem;
    }
    .navbar-links.active,
    .login.active {
        display: flex;
    }
}