:root {
    --main-color:rgb(199, 255, 236);
    --field-color: #001e20;
    --heading-color: #001e20;
    --text-color: white;
    --secondary-color: white;
    --secondary-dark-color: #001e20;
  }

body {
    display: flex;
    flex-direction: column;
    margin: 0;
    background-color:  var(--main-color);
    color: var(--heading-color);
}

nav{
    background-color: var(--field-color);
    color: var(--text-color);
    text-align: right;
    font-size: 20px;
    padding: 15px 3vw;
}

nav a{
    display: inline-block;
    text-decoration: none;
    color: var(--text-color);
    position: relative;
    top: 8px;
}

.login::after{
    content: "|";
    padding: 0 1vw 0 1.5vw;
}

.heading{
    position: relative;
    bottom: 8px;
    float: left;
    font-family: 'Dancing Script', cursive;
    font-size: 40px;
    line-height: .6em;
}

.nav-but{
    float: left;
    padding-left: 2vw;
}

.logout{
    float: right;
}

nav a:hover{
    color: var(--main-color);
    opacity: .9;
}