:root {
    --main-color:rgb(199, 255, 236);
    --field-color: #001e20;
    --heading-color: #001e20;
    --text-color: white;
    --secondary-color: white;
    --secondary-dark-color: #001e20;
}

main{
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 90vh;
}