.settings {
    display: none;
    flex-direction: column;
    position: fixed;
    margin-top: 5vh;
    width: min(80%, 450px);
    height: min(620px, 80%);
    background-color: var(--main-light-color);
    box-shadow: 0 0 20px -10px rgb(0, 0, 0);
    z-index: 2;
    border-radius: 10px;
    overflow-y: scroll;
}

.settings::-webkit-scrollbar {
    display: none;
}

.settings>* {
    color: var(--text-dark-color);
    margin: 0 1rem;
    padding: 30px 0 30px;
    border-bottom: 1px solid gray;
}

.settings>*:last-child {
    border-bottom: none;
}

.settings h1 {
    margin: 0;
    background-color: var(--dark-color);
    color: var(--text-light-color);
    text-align: center;
}

.settings .heading {
    padding-left: .5rem;
    font-size: 1.5rem;
}

.theme {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.1rem;
    margin-top: 10px;
}

.form-switch {
    padding-left: 3.5rem;
}

.form-switch .form-check-input {
    height: 1.5rem;
    width: calc(2rem + 0.75rem);
    border-radius: 10px;
}

.form-check-input {
    border-color: black;
}

.form-check-input:checked {
    background-color: var(--dark-color);
    border-color: white;
}

.form-check-input:focus {
    box-shadow: 0 0 0 0.2rem gray;
    border-color: gray;
}

.edit-account {
    opacity: .5;
}

.edit-account:hover {
    opacity: 1;
}

.account {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 30px;
    padding-right: 30px;
    width: min(20rem, 100%);
    margin-right: auto;
    margin-left: auto;
}

.change-username,
.change-pass>* {
    display: flex;
    position: relative;
    justify-content: end;
    text-align: end;
    width: 100%;
    margin-top: 20px;
}

.change-pass {
    display: flex;
    flex-direction: column;
}

.username,
.password {
    width: 50%;
    min-width: 140px;
    margin-left: 1rem;
    padding-left: .5rem;
    background-color: white;
    border-radius: 10px;
    opacity: .9;
}

.username:hover,
.password:hover {
    opacity: 1;
}

.username:focus,
.password:focus {
    opacity: 1;
    outline: none;
}

.save-changes {
    display: block;
    font-size: 1.3rem;
    margin: 50px auto 0;
    padding: 5px 1rem;
    border-radius: 20px;
}

.visible {
    display: none;
    position: absolute;
    top: 25%;
    right: -1.5rem;
    opacity: .5;
}

.visible:hover {
    opacity: 1;
}

.account p {
    display: none;
    margin: 10px 0 0 auto;
    width: max-content;
    padding: 0 1rem;
    border-radius: 10px;
    color: var(--text-light-color);
    background-color: var(--dark-color);
    opacity: .5;
}

@media (max-width: 500px) {
    .account,
    .account * {
        padding-right: 0;
        padding-left: 0;
        margin-right: 0;
        margin-left: 0;
    }
    .account {
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        margin-left: auto;
        margin-right: auto;
    }
    .username,
    .password {
        padding-left: .5rem;
    }
    .change-username {
        width: max-content;
    }
    .change-pass {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: max-content;
    }
    .change-pass>* {
        display: initial;
        text-align: center;
    }
    .change-username {
        flex-direction: column;
        align-items: center;
    }
    .account p {
        margin-right: auto;
    }
    .visible {
        top: 2rem;
        right: 0rem;
    }
}