{% extends "layout-nav.html" %}

{% block title %}
    Add
{% endblock %}


{% block styles %}
<link href="/static/nav.css" rel="stylesheet">
<link href="/static/add.css" rel="stylesheet">
{% endblock %}


{% block main %}
<main>
    <form action="/add" method="post" class="note"  id="note">
        <div class="note-r1">
            <textarea autofocus class="note-heading" maxlength="50"  spellcheck="false" rows = "1" name="note-heading"></textarea>
            <button class="save" type="submit" form="note">
                Save
            </button>
        </div>
        <textarea class="note-content" spellcheck="false" name="note-content"></textarea>
    </form>
</main>
{% endblock %}