{% extends "layout.html" %}

{% block title %}
    Memories
{% endblock %}


{% block styles %}
    "/static/index.css"
{% endblock %}


{% block body %}

    <nav>
        {% if logged == false %}
            <a href={{ url_for('login') }}>Login</a>
            |
            <a href={{ url_for('register') }}>Register</a>
        {% else %}
            <a href={{ url_for('logout') }}>Logout</a>
        {% endif %}
    </nav>

    <div class="main">
        <h1>Hello{{ username }}!</h1>
    </div>

{% endblock %}