{% extends "layout.html" %}

{% block js %}
<script src="{{url_for('static', filename='nav.js')}}"></script>
{% endblock %}

{% block body %}

<nav>

    <div class="container">
        <div class="title">
            <a href={{ url_for( 'index' ) }}>Memories</a>
        </div>
        {% if logged == true %}
        <div class="navbar-links">
            <ul>
                <li><a class="nav-but" href={{ url_for( 'profile' ) }}>Profile</a></li>
                <li><a class="nav-but" href={{ url_for( 'myMemoiries' ) }}>My Memories</a></li>
                <li><a class="nav-but" href={{ url_for( 'add' ) }}>Add</a></li>
            </ul>
        </div>
        <div class="login">
            <a class="logout" href={{ url_for( 'logout' ) }}>Logout</a>
        </div>
        {% else %}
        <div class="login">
            <ul>
                <li><a class="login" href={{ url_for( 'login' ) }}>Login</a></li>
                <li><a href={{ url_for( 'register' ) }}>Register</a></li>
            </ul>
        </div>
        {% endif %}
        <div class="toggle-button">
            <span class="bar"></span>
            <span class="bar"></span>
            <span class="bar"></span>
        </div>
    </div>

</nav>

{% block main %}{% endblock %}
{% endblock %}