{% extends "layout.html" %}

{% block title %}
    Login
{% endblock %}

{% block styles %}
<link href="/static/login-register.css" rel="stylesheet">
{% endblock %}

{% block body %}

<form action="/login" method="post">
    <div class="login-form">
        <h1>Memories</h1>

        {% if userError %}
            <p class="error">{{ userError }}</p>
        {% endif %}

        <input autofocus autocomplete="off" type="text" name="username" placeholder="Username" required
            {% if userError %}
                value={{ username }}
            {% endif %}
        >
        
        <input type="password" name="password" placeholder="Password" required
            {% if userError %}
                value={{ password }}
            {% endif %}
        >

        <input type="submit" value="Login">
        <div class="message">
            Don't have an account? 
            <a href={{ url_for('register') }}>Register!</a>
        </div>
    </div> 
</form>

{% endblock %}
