{% extends "layout-nav.html" %}

{% block title %}
My Memories
{% endblock %}

{% block styles %}
<link href="/static/nav.css" rel="stylesheet">
<link href="/static/myMemories.css" rel="stylesheet">
{% endblock %}s


{% block main %}
<main>
  <div class="grid-container">
    {% for row in rows %}
    
    <div class="note" id={{ row[0] }}>
      <div class="note-heading">{{ row[1] }}</div>
      <div class="note-content">{{ row[2] }}</div>
    </div>
    {% endfor %}
  </div>
  
  <div class="overDisplay"></div>

  <div class="noteEdit">
    <div class="noteEdit-r1">
        <textarea autofocus class="noteEdit-heading" maxlength="50"  spellcheck="false" rows = "1"></textarea>
        <button class="saveEdit">
            Save
        </button>
    </div>
    <textarea class="noteEdit-content" spellcheck="false"></textarea>
  </div>
</main>

{% endblock %}

{% block js %}
<script src="{{url_for('static', filename='myMemories.js')}}"></script>
{% endblock %}