{% extends "layout.html" %}

{% block title %}
    Register
{% endblock %}

{% block styles %}
    "/static/login-register.css"
{% endblock %}

{% block body %}
<form action="/register" method="post">
    <div class="login-form">
        <h1>Memories</h1>
        <input autocomplete="off" type="text" name="username" placeholder="Username" required
            {% if nameError or passError %}
                value={{ username }}
            {% endif %}
        >
        
        {% if nameError %}
            <p class="error">{{ nameError }}</p>
        {% endif %}

        <input type="password" name="password" placeholder="Password" required
            {% if nameError or passError %}
                value={{ password }}
            {% endif %}
        >
        <input type="password" name="confirmPassword" placeholder="Confirm Password" required
            {% if nameError or passError %}
                value={{ confirmation }}
            {% endif %}
        >
        
        {% if passError %}
            <p class="error">{{ passError }}</p>
        {% endif %}
        
        <input type="submit" value="Register">
        <div class="message">
            Already have an account? 
            <a href={{ url_for('login') }}>Login!</a>
        </div>
    </div> 
</form>
{% endblock %}
